@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Hospital</h1>
    <h5>Thank you for choosing our Hospital for your healthcare needs</h5>
    <h5>Here, We strive to provide the highest quality medical care to our patients</h5>
    <h5>Learn more about our services and specialties</h5>
    <table class="table table-hover border">
        <tr>
            <th scope="row">Internal Medicine</th>
        </tr>
        <tr>
            <th scope="row">Pediatrics</th>
        </tr>
        <tr>
            <th scope="row">Surgery</th>
        </tr>
    </table>
    <h5>If you have any questions or need assistence, Please don't hesitate to contact us</h5>

</div>
